@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap');

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap');
}

:root {
  --violet: #46178f;
  --violet-dark: #25076b;
  --violet-light: #864cbf;
  --violet-lighets: #c2a5df;

  --orange: #eb670f;
  --orange-dark: #e24104;
  --orange-light: #f5a23d;
  --orange-lightes: #fad09e;

  --red: #e21b3c;
  --red-dark: #c60929;
  --red-light: #ff3355;
  --red-lightest: #ff99aa;

  --yellow: #ffa602;
  --yellow-dark: #d89e00;
  --yellow-light: #ffc00a;
  --yellow-lightest: #ffdd33;

  --blue: #1368ce;
  --blue-dark: #0542b9;
  --blue-light: #45a3e5;
  --blue-lightest: #a2d1f2;

  --cyan: #0aa3a3;
  --cyan-dark: #028282;
  --cyan-light: #33cccc;
  --cyan-lightest: #99e5e5;

  --green: #26890c;
  --green-dark: #106b03;
  --green-light: #66bf39;
  --green-lightest: #b2df9c;

  --white: #f2f2f2;
  --grey: #b0b0b0;
  --black: #333333;
}

body {
  background: var(--white);
  font-family: 'Montserrat';
  margin: 2.5%;
}

button {
  font: inherit;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  min-width: 6.25rem;
  height: 2.625rem;
  padding: 0 1rem 4px;
  padding-top: 0px;
  padding-right: 1rem;
  padding-bottom: 4px;
  padding-left: 1rem;
  border-radius: 4px;
  box-shadow: inset 0 -4px rgba(0,0,0,.25);
  font-family: Montserrat,Helvetica Neue,helvetica,arial,sans-serif;
  font-size: .875rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  border: 0;
}

.info-box {
  border: 4px;
  border-radius: 4px;
  background: var(--orange-light);
  min-width: 16rem;
  min-height: 5rem;
  float: right;
  box-shadow: inset 0 -4px rgba(0,0,0,.25);
}

.room-code-text {
  color: white;
  float: left;
  font-size: 20px;
}

.room-code-code {
  color: var(--black);
  float: right;
  font-size: 28px;
  text-align: center
}

.lang-toggle {
  min-width: 0;
}

.bg-green {
  background: var(--green);
}

.bg-grey {
  background: var(--grey);
}

.bg-red {
  background: var(--red);
}

.bg-orange{
  background: var(--orange);
}

.accept {
  background: var(--green)
}

.reject {
  background: var(--red)
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "enter-code round-view" "team-overview question-view" "team-overview answer-view" "team-overview answer-view" "team-overview answer-view";
}

.enter-code { grid-area: enter-code; }

.team-overview { grid-area: team-overview; }

.round-view { grid-area: round-view; }

.question-view { grid-area: question-view; }

.answer-view { grid-area: answer-view; }
